.demo3 .u-form .u-label {
    width: 120px;
    text-align: right;
}

.demo3 .u-form-submit {
    padding-left: 120px;
}

.demo3 .u-input-after {
    border: none!important;
    background: none!important;
}

.demo3 .u-input-after .u-button {
    height: 30px;
    padding: 0;
}