@import '../../node_modules/bee-checkbox/src/Checkbox.scss';
.demo4{
    font-size: 14px;
}
.demo4 .u-label {
    display: inline-block;
    min-width: 100px;
    text-align: right;
}
.demo4 .u-form-control {
    width: auto;
    min-width: 380px;
}
.demo4 .error{
    font-size: 12px;
    color: red;
    margin-left: 10px;
}
.demo4 .submit{
    padding-left: 110px;
}
.demo4 .submit .login{
    margin-right: 10px;
}
.demo4 .u-select {
    max-width: 380px;
}
.demo4 textarea{
    min-height: 100px;
    resize: none;
}
.demo4 .time>div{
    display: inline-block;
}
.demo4 .time .u-label{
    position: relative;
    bottom: 10px;
}
.demo4 .u-city-select{
    display: inline-block;
}
.demo4 .u-city-select .province,.demo4 .u-city-select .city,.demo4 .u-city-select .area{
    width: 120px;
}