@import '../../node_modules/bee-checkbox/src/Checkbox.scss';
.demo3{
    font-size: 14px;
}
.demo3 .u-label {
    display: inline-block;
    min-width: 100px;
    text-align: right;
}
.demo3 .u-form-control {
    width: auto;
    min-width: 300px;
}
.demo3 .error{
    font-size: 12px;
    color: red;
    margin-left: 10px;
}
.demo3 .submit{
    padding-left: 110px;
}
.demo3 .submit .login{
    margin-right: 10px;
}