.demo2 .u-label {
    min-width: 70px;
    width: 70px;
    text-align: right;
}

.demo2 .cancel,
.demo3 .cancel {
    margin-left: 20px;
}

.demo2 .u-form-submit {
    padding-left: 70px;
}

.demo2 .u-input-after {
    width: auto;
    border: none!important;
    background: none!important;
    cursor: pointer;
    color: #42a5f5;
}