.demo4 .u-label {
    width: 75px;
    text-align: right;
}

.demo4 .province,
.demo4 .city,
.demo4 .area {
    width: 90px!important;
}

.demo4 .uf.uf-calendar {
    position: relative;
    top: -4px;
    right: 9px;
}

.demo4 .u-form-submit {
    padding-left: 75px;
}

textarea {
    min-height: 100px;
    min-width: 300px;
}