@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";
.u-form{

}
.u-form .u-form-item{
  padding-top: 5px;
  padding-bottom: 5px;
}
.u-form-error{
  display: none;
  border: 1px solid #F22C1D;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #FFEBEE;
  color: #F22C1D;
  padding-left: 12px;
  padding-right: 12px;
}
.u-form-inline{
  display: inline-block;
}
.u-form-error.u-form-error-inline.show{
  display: inline-block!important;
  margin-left: 10px;
}
.u-form .u-form-submit{
  margin-top: 10px;
}